<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Employee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/employeeDetail.css">
	
	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>

</head>

<body>

	<div class="header">
		<h1 class="primary-message">Employee Detail</h1>
	</div>
		
	<div id="main " class="main">
		<div id ="middleBox">
			<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
				<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
			</div>

		<form action="/" method="POST" onsubmit="return validateSave(); return false" class="inputContent"> <!-- change from "#" to "/" -->
			<div>
				<label>Employee ID :</label>
				<input id="employeeId" name="employeeId" placeholder="Emplyee ID" type="hidden" th:value="${!employee.isEmpty} ? ${employee.id} : ''" /><br><br>
			</div>

			<!--  I left these out because IDK what they do and I couldn't integrate them directly. ~AW
			<tr class="hidden">
						<td>Manager ID:</td>
						<td>
							<input id="employeeManagerId" type="hidden" th:value="${!employee.isEmpty} ? ${employee.managerId} : ''" />
						</td>
					</tr>
					<tr th:class="${employee.isEmpty} ? hidden : ''">
						<td class="label">Employee ID:</td>
						<td>
							<input id="employeeEmployeeId" type="text" th:value="${!employee.isEmpty} ? ${employee.employeeId} : ''" class="update" disabled />
						</td>
					</tr>
			-->
			
			<div>
				<label for="employeeFirstName">First Name:</label>
				<input type="text" id="employeeFirstName" placeholder="Type Your First Name" th:value="${!employee.isEmpty} ? ${employee.firstName} : ''" class="update" name="employeeFirstName"><br><br>
			</div>						
			<div>
				<label for="EmployeeLastName">Last Name:</label>
				<input type="text" id="employeeLastName" name="employeeLastName" placeholder="Type Your Last Name" th:value="${!employee.isEmpty} ? ${employee.lastName} : ''" class="update" /><br><br>
			</div>
			<div>
				<label for="employeePassword">Password:</label>
				<input type="password" id="employeePassword" name="employeePassword" value = "" placeholder="Create Your Password" class="update"><br><br>
			</div>
			<div>
				<label for="employeeConfirmPassword">Confirm Password:</label>
				<input type="password" id="employeeConfirmPassword" name="employeeConfirmPassword" placeholder="Type Your Password Again" class="update"><br><br>
			</div>
			<div>
				<label for="emplyeeType">Select Employee Type:</label>
					<select name="employeeType" id="employeeType" class="update">
						<option value="cashier">Cashier</option>
						<option value="sManager">Shift Manager</option>
						<option value="gManager">General Manager</option>
					</select><br>
			</div>
			<button onclick="validateSave(); return false;">Save</button><br>
		</form>
		</div>
	</div>
	
	<div class="hidden">
		<input type="checkbox" id="isRefreshed" class="hidden">
		<script type="text/javascript">
			window.onunload = function() {
				const isRefreshedElement = document.getElementById("isRefreshed");

				if(!isRefreshedElement.checked) {
					isRefreshedElement.checked = true;
				} else {
					isRefreshedElement.checked = false;
					location.reload();
				}
			}
		</script>
	</div>

	<div class="footer">
		<img src = "/images/signOut.png" id="signOutImage" alt="Sign Out" class="footer" />
	</div>
</body>

</html>
