#middleBox{
	height: 84%;
	width: 98%;
	border: 2px solid #3a69b0;
	padding: 10px;
	margin: auto;
	background-color:#f0f2f5;
	display:block;
}
body{
	background-color:#214d9e;
	font-family:Arial, sans-serif;
	overflow:hidden;
}
.menuButton{
	display:inline-block;
	margin-top:22px !important;
	height: 75px !important;
	width: 200px !important;
}
.managerButton{
	display:none !important;
}
